#header {
    background-image: url(cold-desktop-backgrounds-fog-1287367.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: top;
    height: 150%;
    border-radius: 45px 45px 45px 450px;
}